version: "3.8"

services:
  app:
    container_name: laravel_app
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - /var/www/backend-ihealth:/var/www
    ports:
      - "127.0.0.1:9001:9000"
